.text-aux {
  font-family: Outfit, sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

i {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  padding-right: 0.1rem;
}

span {
  font-family: Outfit, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
