<section class="w-100 vh-100 d-flex justify-content-center align-items-center bg-body text-white" data-bs-theme="dark">
  <div class="p-3" style="width: 22rem;">
    <div class="d-flex justify-content-center">
      <a routerLink="/home"><img src="../../../assets/logo.png" alt="mooovie" width="128" height="128"></a>
    </div>
    <p class="fs-5 mb-4 d-flex justify-content-center">Welcome back!</p>
    <div>
      <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-2">
          <input formControlName="username" type="text"
                 class="form-control" id="username-input" placeholder="Username" required
                 [ngClass]="{ 'is-invalid': submitted && notAnUser}">
          <label for="username-input">Username</label>
          @if (submitted && notAnUser) {
            <div class="invalid-feedback">
              <div>Invalid username</div>
            </div>
          }
        </div>
        <div class="form-floating mb-2">
          <input formControlName="password"
                 type="password" class="form-control" id="password-input" placeholder="Password" required
                 [ngClass]="{ 'is-invalid': submitted && notMatchPass}">
          <label for="password-input">Password</label>
          @if (submitted && notMatchPass) {
            <div class="invalid-feedback">
              <div>Invalid password</div>
            </div>
          }
        </div>
        <div class="form-group">
          <button class="btn btn-warning w-100 py-2 mt-4" type="submit">Log in</button>
        </div>
      </form>
    </div>
    <div class="signin-container mt-4 d-flex justify-content-center">
      <p class="font-weight-bold">Don't have an account? <a routerLink="/sign-up" class="text-warning">Register</a></p>
    </div>

  </div>
</section>
