<section>
  <nav class="navbar bg-dark py-3 shadow">
    <div class="container-sm">
      <a class="navbar-brand text-white d-flex align-items-center" routerLink="/home">
        <span class="container-logo">
          <img src="../../../assets/logo.png" alt="mooovie" width="32" height="32">
        </span>
        <strong class="logo-name fs-4 ms-2">
          STELL★R
        </strong>
      </a>
      <div class="d-flex">
        <form class="me-4">
          <input class="form-control" type="search" placeholder="Search...">
        </form>
        <a class="text-white" routerLink="/sign-up">
          <i class="bi bi-person-fill h4"></i>
        </a>
      </div>
    </div>
  </nav>
</section>
