@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

section {
  background-color: rgba(33, 37, 41, 0.93);
}

.quote {
  font-family: 'Playfair Display', serif;
}

.author {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
}
